<!DOCTYPE html>
<html>
<head>
    <title>SimpleAspNetCoreReportingDesigner</title>
    <link rel="stylesheet" href="~/css/thirdparty.bundle.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/js/thirdparty.bundle.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <link rel="stylesheet" href="https://cdn.devexpress.com/Reporting/24.2/css/dx-reporting.min.css" />
    <script src="https://cdn.devexpress.com/Reporting/24.2/js/dx-reporting.min.js"></script>

</head>
<body>
@RenderBody()
</body>
</html>