@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, DevExpress.AspNetCore.Reporting.v24.2

<!DOCTYPE html>
<html lang="en">
<head>
    <title>SimpleAspNetCoreReportingDesigner</title>
    <link rel="stylesheet" href="~/css/thirdparty.bundle.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/js/thirdparty.bundle.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

   
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4">
    <a class="navbar-brand" href="/">📊 Report Portal</a>
</nav>

<main class="container mt-4">
    @RenderBody()
</main>

<footer class="footer bg-light text-center py-3 mt-5">
    <span class="text-muted">© @DateTime.Now.Year - Report Portal</span>
</footer>


</body>
</html>